<div class="cookie-pop-page" data-cookie-open>
  <div class="container cookie-pop-container">
    <div class="cookie-wrapper-text">
      <p class="cookie-pop-text-part-one">
        We use cookies to improve your experience on our website.
      </p>
      <p class="cookie-pop-text-part-two">
        By browsing this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-pop-btn-wrapper">
      <button data-btn-close class="cookie-pop-btn">ACCEPT COOKIES</button>
      <button data-btn-close class="cookie-pop-btn">DECLINE COOKIES</button>
    </div>
  </div>
</div>
