<section id="description" class="description-section">
  <div class="container description-container">
    <h2 hidden class="description-title">Description</h2>
    <div class="desc-wrapper-first-part-text">
      <ul class="desc-list desc-part-1">
        <li class="desc-item">
          <p class="desc-text desc-text-part-one">
            <span class="desc-span-blue">Match Puzzle Travel</span> is a
            captivating puzzle adventure game that takes players on a global
            journey filled with vibrant match-3 levels, famous destinations, and
            rewarding discoveries.
          </p>
        </li>

        <li class="desc-item">
          <p class="desc-text desc-text-part-one">
            Match colorful tiles, complete travel-themed challenges, and unlock
            unique items from cities around the world.
          </p>
        </li>
      </ul>
    </div>
    <div class="swiper mySwiper">
      <ul class="desc-wrapper-img swiper-wrapper">
        <li class="desc-rotated-japan swiper-slide">
          <picture class="img-japan">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/desc/desc-japan-desktop-1@.png 1x,
                /img/desc/desc-japan-desktop-2@.png 2x
              "
            />
            <source
              media="(max-width: 320px)"
              srcset="
                /img/desc/desc-japan-mobile-1@.png 1x,
                /img/desc/desc-japan-mobile-2@.png 2x
              "
            />
            <img
              src="/img/desc/desc-japan-mobile-1@.png"
              alt="Description Japan"
            />
          </picture>
        </li>
        <li class="desc-rotated-london swiper-slide">
          <picture class="img-london">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/desc/desc-london-desktop-1@.png 1x,
                /img/desc/desc-london-desktop-2@.png 2x
              "
            />
            <source
              media="(max-width: 320px)"
              srcset="
                /img/desc/desc-london-mobile-1@.png 1x,
                /img/desc/desc-london-mobile-2@.png 2x
              "
            />
            <img
              src="/img/desc/desc-london-mobile-1@.png"
              alt="Description London"
            />
          </picture>
        </li>
        <li class="desc-rotated-paris swiper-slide">
          <picture class="img-paris">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/desc/desc-paris-desktop-1@.png 1x,
                /img/desc/desc-paris-desktop-2@.png 2x
              "
            />
            <source
              media="(max-width: 320px)"
              srcset="
                /img/desc/desc-paris-mobile-1@.png 1x,
                /img/desc/desc-paris-mobile-2@.png 2x
              "
            />
            <img
              src="/img/desc/desc-paris-mobile-1@.png"
              alt="Description Paris"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="desc-wrapper-second-part-text">
      <ul class="desc-list desc-part-2">
        <li class="desc-item">
          <p class="desc-text">
            Whether you're solving puzzles in
            <span class="desc-highlight desc-yellow">Paris</span>, collecting
            souvenirs in <span class="desc-highlight desc-cyan">Cairo</span>, or
            climbing puzzle paths in the
            <span class="desc-highlight desc-green">Andes</span>, this game
            blends the fun of matching with the thrill of travel.
          </p>
        </li>
        <li class="desc-item">
          <p class="desc-text">
            <span class="desc-highlight desc-purple">Pack your bags</span> —
            it's time to play your way around the world!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
