<section id="faq" class="faq-section">
  <div class="container faq-container">
    <div class="faq-wrapper">
      <!-- <div class="faq-title-wrapper"> -->
      <!-- <h2 class="faq-title">FAQ</h2> -->

      <div class="faq-wrapper-img-accordion">
        <!-- <h2 class="faq-title">FAQ</h2> -->
        <img
          class="image-faq"
          src="/img/faq/faq-dog-desktop@1x.png"
          srcset="/img/faq/faq-dog-desktop@2x.png 2x"
          alt="FAQ illustration"
        />

        <div class="faq-accordion-wrapper">
          <h2 class="faq-title">FAQ</h2>

          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->

                <h3 class="faq-question">
                  Is Match Puzzle Travel free to play?
                </h3>

                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Yes! The game is completely free with optional in-app
                    purchases.
                  </p>
                </div>
              </div>
            </li>
            <li class="accordion-item faq-small-faq" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->
                <h3 class="faq-question">Can I play offline?</h3>
                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Absolutely. All standard levels are playable without an
                    internet connection.
                  </p>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->
                <h3 class="faq-question">
                  Are the levels random or based on real places?
                </h3>
                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Each chapter is inspired by a real-world city or culture,
                    complete with visual references and fun facts.
                  </p>
                </div>
              </div>
            </li>
            <li class="accordion-item faq-small-faq" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->
                <h3 class="faq-question">How do I unlock new countries?</h3>
                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Complete current location levels and collect enough stars to
                    unlock the next region.
                  </p>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->
                <h3 class="faq-question">
                  Is there a way to track my journey?
                </h3>
                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Yes! Use your in-game travel album to view places you’ve
                    completed and your collected souvenirs.
                  </p>
                </div>
              </div>
            </li>
            <li class="accordion-item faq-small-faq" data-accordion-item>
              <div class="accordion-header" data-accordion-header>
                <!-- <div class="faq-question-box"> -->
                <h3 class="faq-question">Will more destinations be added?</h3>
                <button class="accordion-button" aria-label="Toggle answer">
                  <svg class="faq-icon faq-icon-down" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_desktop"></use>
                  </svg>
                  <svg class="faq-icon faq-icon-up" width="18" height="10">
                    <use href="/img/sprite.svg#icon-chevron_mobile"></use>
                  </svg>
                </button>
                <!-- </div> -->
              </div>
              <div class="accordion-content" data-accordion-content>
                <div class="faq-answer-box">
                  <p class="faq-answer-text">
                    Yes! New countries and cities are regularly introduced
                    through updates.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</section>
