<sections id="#features" class="features-section">
  <div class="container">
    <h2 class="features-title">
      <ul class="features-list">
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Match and Discover</h3>
            <p class="features-text-paragraph">
              Match 3 or more tiles to complete goals and advance through
              real-world-inspired levels.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Interactive World Map</h3>
            <p class="features-text-paragraph">
              Travel from one country to another on a dynamic animated map.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Boosters & Combos</h3>
            <p class="features-text-paragraph">
              Use travel-themed boosters like Jet Lag Blasts, Compass Swaps, and
              Travel Time Skips.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Unlock Destinations</h3>
            <p class="features-text-paragraph">
              Progress to new locations like Tokyo, Rome, Rio, and more.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Puzzle Postcards</h3>
            <p class="features-text-paragraph">
              Earn collectible postcards after completing each major chapter.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Photo Album Mode</h3>
            <p class="features-text-paragraph">
              View your global progress through a scrapbook-style album filled
              with souvenirs.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper"></div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Match and Discover</h3>
            <p class="features-text-paragraph">
              Match 3 or more tiles to complete goals and advance through
              real-world-inspired levels.
            </p>
          </div>
        </li>
      </ul>
    </h2>
  </div>
</sections>
