<section id="features" class="features-section">
  <div class="container">
    <h2 class="features-title">Features</h2>
    <div class="features-main-wrapper">
      <div class="features-line">
        <div class="features-first-circle"></div>
        <div class="features-second-circle"></div>
      </div>
      <ul class="features-list">
        <li class="features-list-item">
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-6-mobile.png    1x,
                  ./img/frame-154-6-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-156-desktop.png    1x,
                  ./img/frame-156-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-6-mobile.png "
                alt="heart"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Match and Discover</h3>
            <p class="features-text-paragraph">
              Match 3 or more tiles to complete goals and advance through
              real-world-inspired levels.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-5-mobile.png    1x,
                  ./img/frame-154-5-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-157-desktop.png    1x,
                  ./img/frame-157-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-5-mobile.png "
                alt="letters"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Interactive World Map</h3>
            <p class="features-text-paragraph">
              Travel from one country to another on a dynamic animated map.
            </p>
          </div>
        </li>
        <li class="features-list-item">
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-4-mobile.png    1x,
                  ./img/frame-154-4-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-159-desktop.png    1x,
                  ./img/frame-159-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-4-mobile.png "
                alt="bomb"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Boosters & Combos</h3>
            <p class="features-text-paragraph">
              Use travel-themed boosters like Jet Lag Blasts, Compass Swaps, and
              Travel Time Skips.
            </p>
          </div>
        </li>
        <li class="features-list-item features-disabled" data-features-block>
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-3-mobile.png    1x,
                  ./img/frame-154-3-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-161-desktop.png    1x,
                  ./img/frame-161-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-3-mobile.png "
                alt="chains"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Unlock Destinations</h3>
            <p class="features-text-paragraph">
              Progress to new locations like Tokyo, Rome, Rio, and more.
            </p>
          </div>
        </li>
        <li class="features-list-item-desktop">
          <p class="features-list-item-desktop-p">Main Gameplay Features</p>
        </li>
        <li class="features-list-item features-disabled" data-features-block>
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-2-mobile.png    1x,
                  ./img/frame-154-2-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-162-desktop.png    1x,
                  ./img/frame-162-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-2-mobile.png "
                alt="paper plain"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Puzzle Postcards</h3>
            <p class="features-text-paragraph">
              Earn collectible postcards after completing each major chapter.
            </p>
          </div>
        </li>
        <li class="features-list-item features-disabled" data-features-block>
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-1-mobile.png    1x,
                  ./img/frame-154-1-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-163-desktop.png    1x,
                  ./img/frame-163-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-1-mobile.png "
                alt="camera"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Photo Album Mode</h3>
            <p class="features-text-paragraph">
              View your global progress through a scrapbook-style album filled
              with souvenirs.
            </p>
          </div>
        </li>
        <li class="features-list-item features-disabled" data-features-block>
          <div class="features-image-wrapper">
            <div class="features-image-glow"></div>
            <picture>
              <source
                srcset="
                  ./img/frame-154-mobile.png    1x,
                  ./img/frame-154-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/frame-164-desktop.png    1x,
                  ./img/frame-164-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="features-image"
                src="./img/frame-154-mobile.png "
                alt="coin"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="features-text-wrapper">
            <h3 class="features-text-title">Event Pass</h3>
            <p class="features-text-paragraph">
              Complete exclusive limited-time paths for rare rewards.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <button class="features-button" type="button" data-features-button>
      <svg class="features-chevron-svg" data-features-btn-icon>
        <use href="./img/sprite.svg#icon-chevron_mobile"></use>
      </svg>
    </button>
  </div>
</section>
