<footer  class="footer-section">
  <div class="container footer-container">

      <div class="footer-logo">
        
        <div class="footer-img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/footer/footer-desctop-@1x.png 1x,
                  /img/footer/footer-desctop-@2x.png 2x
                "
              />
              <source
                media="(max-width: 320px)"
                srcset="
                  /img/footer/footer-mobile-@1x.png 1x,
                  /img/footer/footer-mobile-@2x.png 2x
                "
              />
              <img
                src="/img/footer/footer-mobile-@1x.png"
                alt="footer photo"
              />
            </picture>
          </div>
          

      <ul class="footer-policy-list">
        <li class="footer-policy-item">
          <a
            href="/"
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-policy-item">
          <a
            href="/"
            target="_blank"
            rel="noopener noreferrer"
            >Terms and Conditions</a
          >
        </li>
        <li class="footer-policy-item">
          <a
            href="/"
            target="_blank"
            rel="noopener noreferrer"
            >Cookie Policy</a
          >
        </li>
        
      </ul>
    
    <p class="footer-text">All rights reserved, 2025. matchthrillpuzzle.com</p>
  </div>
</footer>
