<section id="gallery" class="gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-the-biggest-wrapper">
      <div class="gallery-wrapper-one">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-two-dogs-desktop-@1x.png 1x,
              /img/gallery/gallery-two-dogs-desktop-@2x.png 2x
            "
          />
          <source
            media="(max-width: 320px)"
            srcset="
              /img/gallery/gallery-two-dogs-mobile-@1x.png 1x,
              /img/gallery/gallery-two-dogs-mobile-@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-two-dogs-mobile-@1x.png"
            alt="Gallery photo two-dogs"
            loading="lazy"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-car-desktop-@1x.png 1x,
              /img/gallery/gallery-car-desktop-@2x.png 2x
            "
          />

          <source
            media="(max-width: 320px)"
            srcset="
              /img/gallery/gallery-car-mobile-@1x.png 1x,
              /img/gallery/gallery-car-mobile-@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-car-mobile-@1x.png"
            alt="Advantages photo car"
            class="gallery-img-car"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="gallery-wrapper-two">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-paris-desktop-@1x.png 1x,
              /img/gallery/gallery-paris-desktop-@2x.png 2x
            "
          />
          <source
            media="(max-width: 320px)"
            srcset="
              /img/gallery/gallery-paris-mobile-@1x.png 1x,
              /img/gallery/gallery-paris-mobile-@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-paris-mobile-@1x.png"
            alt="Gallery photo paris"
            class="gallery-img-paris"
            loading="lazy"
          />
        </picture>

        <div class="gallery-two-small-img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-party-desktop-@1x.png 1x,
                /img/gallery/gallery-party-desktop-@2x.png 2x
              "
            />

            <source
              media="(max-width: 320px)"
              srcset="
                /img/gallery/gallery-party-mobile-@1x.png 1x,
                /img/gallery/gallery-party-mobile-@2x.png 2x
              "
            />
            <img
              src="/img/gallery/gallery-party-mobile-@1x.png"
              alt="Advantages photo party"
              class="gallery-img-party"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-cubes-desktop-@1x.png 1x,
                /img/gallery/gallery-cubes-desktop-@2x.png 2x
              "
            />

            <source
              media="(max-width: 320px)"
              srcset="
                /img/gallery/gallery-cubes-mobile-@1x.png 1x,
                /img/gallery/gallery-cubes-mobile-@2x.png 2x
              "
            />
            <img
              src="/img/gallery/gallery-cubes-mobile-@1x.png"
              alt="Advantages photo cubes"
              class="gallery-img-cubes"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div class="gallery-big-wrapper">
        <div class="gallery-small-wraper-one">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
        
                  /img/gallery/gallery-winter-desktop-@1x.png
                    /img/gallery/gallery-winter-desktop-@2x.png 2x
                  "
            />
            <source
              media="(max-width: 320px)"
              srcset="
                /img/gallery/gallery-winter-mobile-@1x.png 1x,
                /img/gallery/gallery-winter-mobile-@2x.png 2x
              "
            />
            <img
              src="/img/gallery/gallery-winter-mobile-@1x.png"
              alt="Gallery photo winter"
              class="gallery-img-winter"
              loading="lazy"
            />
          </picture>

          <div class="gallery-img-japan-cat">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallery-japan-desktop-@1x.png 1x,
                  /img/gallery/gallery-japan-desktop-@2x.png 2x
                "
              />

              <img
                src="/img/gallery/gallery-japan-desktop-@1x.png"
                alt="Advantages photo japan"
                class="gallery-img-japan"
                loading="lazy"
              />
            </picture>

            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallery-cat-desktop-@1x.png 1x,
                  /img/gallery/gallery-cat-desktop-@2x.png 2x
                "
              />

              <img
                src="/img/gallery/gallery-cat-desktop-@1x.png"
                alt="Advantages photo cat"
                class="gallery-img-cat"
                loading="lazy"
              />
            </picture>
          </div>
        </div>

        <div class="gallery-small-wraper-two">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-camel-desktop-@1x.png 1x,
                /img/gallery/gallery-camel-desktop-@2x.png 2x
              "
            />

            <source
              media="(max-width: 320px)"
              srcset="
                /img/gallery/gallery-camel-mobile-@1x.png 1x,
                /img/gallery/gallery-camel-mobile-@2x.png 2x
              "
            />
            <img
              src="/img/gallery/gallery-camel-mobile-@1x.png"
              alt="Advantages photo camel"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/gallery/gallery-england-desktop-@1x.png 1x,
                /img/gallery/gallery-england-desktop-@2x.png 2x
              "
            />

            <source
              media="(max-width: 320px)"
              srcset="
                /img/gallery/gallery-england-mobile-@1x.png 1x,
                /img/gallery/gallery-england-mobile-@2x.png 2x
              "
            />
            <img
              src="/img/gallery/gallery-england-mobile-@1x.png"
              alt="Advantages photo england"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery-wrapper-three">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-key-desktop-@1x.png 1x,
              /img/gallery/gallery-key-desktop-@2x.png 2x
            "
          />

          <source
            media="(max-width: 320px)"
            srcset="
              /img/gallery/gallery-key-mobile-@1x.png 1x,
              /img/gallery/gallery-key-mobile-@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-key-mobile-@1x.png"
            alt="Advantages photo key"
            loading="lazy"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/gallery/gallery-gift-desktop-@1x.png 1x,
              /img/gallery/gallery-gift-desktop-@2x.png 2x
            "
          />

          <source
            media="(max-width: 320px)"
            srcset="
              /img/gallery/gallery-gift-mobile-@1x.png 1x,
              /img/gallery/gallery-gift-mobile-@2x.png 2x
            "
          />
          <img
            src="/img/gallery/gallery-gift-mobile-@1x.png"
            alt="Advantages photo gift"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
