<header class="header">
  <div class="container">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#home">Home</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-first-category">
          <a href="#description">Description</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-first-category">
          <a href="#advantages">Advantages</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-first-category">
          <a href="#features">Features</a>
        </li>
        <li class="header-nav-list-item header-active header-logo">
          <a href="#home">
            <picture>
              <source
                srcset="
                  ./img/header-logo-mobile.png    1x,
                  ./img/header-logo-mobile-2x.png 2x
                "
                media="(max-width: 320px)"
              />
              <source
                srcset="
                  ./img/header-logo-desktop.png    1x,
                  ./img/header-logo-desktop-2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class="header-logo"
                src="./img/header-logo-mobile.png"
                alt="website logo"
              />
            </picture>
          </a>
        </li>
        <li class="header-nav-list-item header-active header-burger-li">
          <button type="button" class="header-mob-button" data-header-button>
            <svg class="header-burger-svg" data-header-icon>
              <path
                d="M0 0V3.17241H27V0H0ZM0 9.7169V12.8893L27 12.8893V9.7169H0ZM0 19.829V23H27V19.8276L0 19.829Z"
                fill="#101010"
              />
            </svg>
          </button>
        </li>
        <li class="header-nav-list-item">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-second-category">
          <a href="#how-to-play">How to Play</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-second-category">
          <a href="#faq">FAQ</a>
        </li>
        <li class="header-nav-list-item header-nav-list-item-second-category">
          <a href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
