

<section id="home" class="home-section">
  <div class="container home-container">


    <div class="home-wrapper">


<!-- 
      <div class="home-title-wrapper">

        <h1 id="curved-text" class="home-title">
          <span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>&nbsp;</span>
          <span class="home-letter-P-E">P</span>
          <span class="home-letter-U">U</span>
          <span>Z</span>
          <span class="home-letter-Z">Z</span>
          <span class="home-letter-L">L</span>
          <span class="home-letter-P-E">E</span>
          <span>&nbsp;</span>
          <span>T</span><span>r</span><span>a</span><span>v</span><span>e</span><span>l</span>
        </h1>
      </div> -->

      <!-- <h1 id="curved-text" class="home-title">
        <span class="line-one">
          <span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>&nbsp;</span>
          <span class="home-letter-P-E">P</span>
          <span class="home-letter-U">U</span>
          <span>Z</span>
          <span class="home-letter-Z">Z</span>
          <span class="home-letter-L">L</span>
          <span class="home-letter-P-E">E</span>
        </span>
        <span class="line-two">
          <span>&nbsp;</span>
          <span>T</span><span>r</span><span>a</span><span>v</span><span>e</span><span>l</span>
        </span>
      </h1> -->
      

<!-- 
       <div class="home-title-wrapper">
  
        <h1 id="curved-text-desktop" class="home-title desktop-only">
          Match <span class="home-letter-P-E">P</span><span class="home-letter-U">U</span><span>Z</span><span class="home-letter-Z">Z</span><span class="home-letter-L">L</span><span class="home-letter-P-E">E</span> Travel
        </h1>
      
      
        <h1 id="curved-text-line-one" class="home-title mobile-only part-one">
          Match <span class="home-letter-P-E">P</span><span class="home-letter-U">U</span><span>Z</span><span class="home-letter-Z">Z</span><span class="home-letter-L">L</span><span class="home-letter-P-E">E</span>
        </h1>
        <h1 id="curved-text-line-two" class="home-title mobile-only part-two">
          Travel
        </h1>
      </div> -->


      <div class="home-title-wrapper">
        <!-- Десктоп (одна строка) -->
        <h1 id="curved-text-desktop" class="home-title desktop-only">
          <span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>&nbsp;</span>
          <span class="home-letter-P-E">P</span>
          <span class="home-letter-U">U</span>
          <span>Z</span>
          <span class="home-letter-Z">Z</span>
          <span class="home-letter-L">L</span>
          <span class="home-letter-P-E">E</span>
          <span>&nbsp;</span>
          <span>T</span><span>r</span><span>a</span><span>v</span><span>e</span><span>l</span>
        </h1>
      
      <h1 id="curved-text-line-one" class="home-title mobile-only part-one">
  <span>M</span><span>a</span><span>t</span><span>c</span><span>h</span>
</h1>

<h1 id="curved-text-line-two" class="home-title mobile-only part-two">
  <span class="home-letter-P-E">P</span>
  <span class="home-letter-U">U</span>
  <span>Z</span>
  <span class="home-letter-Z">Z</span>
  <span class="home-letter-L">L</span>
  <span class="home-letter-P-E">E</span>
</h1>

<h1 id="curved-text-line-three" class="home-title mobile-only part-three">
  <span>T</span><span>r</span><span>a</span><span>v</span><span>e</span><span>l</span>
</h1>





        <!-- Мобилка (две строки) -->
        <!-- <h1 id="curved-text-line-one" class="home-title mobile-only part-one">
          <span>M</span><span>a</span><span>t</span><span>c</span><span>h</span><span>&nbsp;</span>
          <span class="home-letter-P-E">P</span>
          <span class="home-letter-U">U</span>
          <span>Z</span>
          <span class="home-letter-Z">Z</span>
          <span class="home-letter-L">L</span>
          <span class="home-letter-P-E">E</span>
        </h1>
        <h1 id="curved-text-line-two" class="home-title mobile-only part-two">
          <span>T</span><span>r</span><span>a</span><span>v</span><span>e</span><span>l</span>
        </h1> -->
      </div>


      
      
      
        <div class="home-row">
          
          <h2 class="home-desc">Match, Travel, Discover!</h2>
          <a
            href="https://play.google.com/store/apps/details?id=com.mobirix.mbtm&hl=en&gl=us"
            class="home-play-button"
            target="_blank"
            rel="noopener noreferrer"
          >
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/home/home-google_play-desktop-@1x.png 1x,
                  /img/home/home-google_play-desktop-@2x.png 2x
                "
              />
              <source
                media="(max-width: 320px)"
                srcset="
                  /img/home/home-google_play-mobile-@1x.png 1x,
                  /img/home/home-google_play-mobile-@2x.png 2x
                "
              />
              <img
                src="/img/home/home-google_play-mobile-@1x.png"
                alt="Get it on Google Play"
                class="home-img-google-play"
              />
            </picture>
          </a>

        </div>
        
      </div>
    </div>
  </div>
</section>
