<section id="home" class="home-section">
  <div class="container home-container">


    <div class="home-wrapper">
      
        <h1 class="home-title">Match<span class="home-letter-P-E">P</span><span class="home-letter-U">U</span>Z<span class="home-letter-Z">Z</span><span class="home-letter-L">L</span><span class="home-letter-P-E">E</span>
          Travel
        </h1>
        <div class="home-row">
          
          <h2 class="home-desc">Match, Travel, Discover!</h2>
          <a
            href="https://play.google.com/store/apps/details?id=com.mobirix.mbtm&hl=en&gl=us"
            class="home-play-button"
            target="_blank"
            rel="noopener noreferrer"
          >
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/home/home-google_play-desktop-@1x.png 1x,
                  /img/home/home-google_play-desktop-@2x.png 2x
                "
              />
              <source
                media="(max-width: 320px)"
                srcset="
                  /img/home/home-google_play-mobile-@1x.png 1x,
                  /img/home/home-google_play-mobile-@2x.png 2x
                "
              />
              <img
                src="/img/home/home-google_play-mobile-@1x.png"
                alt="Get it on Google Play"
                class="home-img-google-play"
              />
            </picture>
          </a>

        </div>
        
      </div>
    </div>
  </div>
</section>
