<section id="how-to-play" class="htp-section">
  <h2 class="htp-title">How to Play</h2>
  <div class="container">
    <ul class="htp-list">
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-1-mob.png 1x, ./img/htp-1-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-1-desk.png 1x, ./img/htp-1-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-1-mob.png"
              alt="cars"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Start Your Journey: <br class="htp-text-br"
            /></strong>
            Begin your trip from your home country and follow the travel map.
          </p>
        </div>
      </li>
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-2-mob.png 1x, ./img/htp-2-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-2-desk.png 1x, ./img/htp-2-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-2-mob.png"
              alt="puzzles"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Solve Puzzles:<br class="htp-text-br"
            /></strong>
            Earn stars and coins by clearing objectives and using combos.
          </p>
        </div>
      </li>
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-3-mob.png 1x, ./img/htp-3-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-3-desk.png 1x, ./img/htp-3-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-3-mob.png"
              alt="Tokens"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Collect Travel Tokens:<br class="htp-text-br"
            /></strong>
            Earn stars and coins by clearing objectives and using combos.
          </p>
        </div>
      </li>
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-4-mob.png 1x, ./img/htp-4-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-4-desk.png 1x, ./img/htp-4-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-4-mob.png"
              alt="travel"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Unlock New Destinations:<br class="htp-text-br"
            /></strong>
            Complete location chapters to travel further and unlock new puzzle
            types.
          </p>
        </div>
      </li>
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-5-mob.png 1x, ./img/htp-5-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-5-desk.png 1x, ./img/htp-5-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-5-mob.png"
              alt="booster"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Use Boosters:<br class="htp-text-br"
            /></strong>
            Deploy strategic boosters like Compass Clear or Suitcase Shuffle
            when things get tricky.
          </p>
        </div>
      </li>
      <li class="htp-list-item">
        <div class="htp-picture-block">
          <picture>
            <source
              srcset="./img/htp-6-mob.png 1x, ./img/htp-6-mob-2x.png 2x"
              media="(max-width: 320px)"
            />
            <source
              srcset="./img/htp-6-desk.png 1x, ./img/htp-6-desk-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <img
              class="htp-picture"
              src="./img/htp-6-mob.png"
              alt="events"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="htp-text-block">
          <p class="htp-text-block-text">
            <strong class="htp-text-block-title"
              >Celebrate Events:<br class="htp-text-br"
            /></strong>
            Participate in limited-time travel festivals and tours for special
            rewards.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
