<div class="mobile-menu" data-mobile-menu>
  <div class="mobile-menu-body">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item"><a href="#home">Home</a></li>
        <li class="mobile-menu-list-item">
          <a href="#description">Description</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#advantages">Advantages</a>
        </li>
        <li class="mobile-menu-list-item"><a href="#features">Features</a></li>
        <li class="mobile-menu-list-item"><a href="#reviews">Reviews</a></li>
        <li class="mobile-menu-list-item">
          <a href="#how-to-play">How to Play</a>
        </li>
        <li class="mobile-menu-list-item"><a href="#faq">FAQ</a></li>
        <li class="mobile-menu-list-item"><a href="#gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</div>
