<section id="reviews">
  <div class="container">
    <h2 class="reviews-title">User Reviews</h2>
    <div class="reviews-wrapper">
      <div class="reviews-first-group">
        <ul class="reviews-list-first-group marquee-track">
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Olivia M.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                It's like a vacation in every level!
                <br class="reviews-br" />Love how each puzzle feels like I'm
                learning about a new culture.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">David S.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                The match-3 gameplay is smooth, but it's the travel theme that
                really makes this game special.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Yasmin R.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                I collect the souvenirs like crazy! Great visual design and
                relaxing play.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Olivia M.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                It's like a vacation in every level!
                <br class="reviews-br" />Love how each puzzle feels like I'm
                learning about a new culture.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">David S.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                The match-3 gameplay is smooth, but it's the travel theme that
                really makes this game special.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Yasmin R.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                I collect the souvenirs like crazy! Great visual design and
                relaxing play.
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
      <button type="button" class="reviews-button" data-rev-pagination>
        See more
      </button>
      <div class="reviews-second-group" data-rev-visibility>
        <ul class="reviews-list-second-group marquee-second-track">
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Leo H.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                I play it during flights! No internet needed, and it's genuinely
                fun.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Emily T.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                Every destination feels unique. I've never seen a match game
                with this much character!
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Carlos P.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                Can't stop playing. The travel theme keeps everything fresh!
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Leo H.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                I play it during flights! No internet needed, and it's genuinely
                fun.
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Emily T.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                Every destination feels unique. I've never seen a match game
                with this much character!
              </blockquote>
            </div>
          </li>
          <li class="reviews-list-item duplicate" aria-hidden="true">
            <div class="reviews-list-item-header">
              <h3 class="reviews-list-item-title">Carlos P.</h3>
              <picture>
                <source
                  srcset="
                    ./img/reviews-stars-mobile.png    1x,
                    ./img/reviews-stars-mobile-2x.png 2x
                  "
                  media="(max-width: 320px)"
                />

                <source
                  srcset="
                    ./img/reviews-stars-desktop.png    1x,
                    ./img/reviews-stars-desktop-2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <img
                  class="reviews-stars-img"
                  src="./img/reviews-stars-mobile.png"
                  alt="review stars"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="reviews-list-item-footer">
              <blockquote class="reviews-item-review">
                Can't stop playing. The travel theme keeps everything fresh!
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
