<section id="reviews">
  <div class="container">
    <h2 class="review-title">User Reviews</h2>

        <div class="swiper-container swiper--top">
          <div class="swiper-wrapper">
              <div class="swiper-slide">Data & Analytics</div>
              <div class="swiper-slide">Prototyping</div>
              <div class="swiper-slide">Research, Strategy & Design</div>
              <div class="swiper-slide">Digital Product Design & Development</div>
              <div class="swiper-slide">Mobile (App) Design</div>
          </div>
        </div>
        <div class="swiper-container swiper--bottom">
          <div class="swiper-wrapper">
              <div class="swiper-slide">Research, Strategy & Design</div>
              <div class="swiper-slide">Digital Product Design & Development</div>
              <div class="swiper-slide">Mobile (App) Design</div>
             <div class="swiper-slide">Data & Analytics</div>
              <div class="swiper-slide">Prototyping</div>
          </div>
        </div>
  
</section>
