@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Fredoka:wght@300..700&family=Titan+One&display=swap');
@import 'modern-normalize/modern-normalize.css';
:root {
  --font-family: 'Fredoka', sans-serif;
  --second-family: 'Titan One', sans-serif;
  --third-family: 'Almarai', sans-serif;
  --black: #101010;
  --yellow: #ffea5d;
  --blue: #3b82d4;
  --blue-stroke: #2736e6;
  --white: #fff;
  --pink-von: #f7d7d1;
  --yellow-von: #fff5b4;
  --blue-h3: rgba(59, 130, 212, 0.4);
  --white-h3: rgba(255, 255, 255, 0.4);
  --shadow: #d9c0bc;
  --beige: #fff8ee;
  --gold-st: #b2871c;
  --gold: #edd228;
  --blue-eff: #4ff7ff;
  --green-button: #99ed58;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-style: normal;
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--black);
}

h1 {
  font-size: 34px;
  -webkit-text-stroke: 8px var(--blue-stroke);
  paint-order: stroke fill;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  color: var(--yellow);
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: var(--white);
  -webkit-text-stroke: 6px var(--blue);
  paint-order: stroke fill;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 72px;
    -webkit-text-stroke: 12px var(--blue-stroke);
  }

  h2 {
    font-size: 48px;
    -webkit-text-stroke: 12px var(--blue);
  }

  body {
    font-size: 18px;
  }
}
