.policy-section {
  padding: 0;
}

.policy-body {
  background: var(--beige);
}

.policy-header-return-btn {
  width: 18px;
  height: 22px;
}

.policy-link-return {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.policy-header {
  padding-top: 40px;
  margin-bottom: 32px;
}

.policy-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  -webkit-text-stroke: 0;
  box-shadow: none;
  paint-order: normal;
  margin-bottom: 17px;
}

.policy-updated {
  margin-bottom: 24px;
}

.policy-updated strong {
  font-weight: 500;
  font-size: 16px;
}

.policy-intro-first {
  margin-bottom: 24px;
}

.policy-link-policy {
  text-decoration: underline;
}

.policy-subtitle {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
  -webkit-text-stroke: 0;
  box-shadow: none;
  paint-order: normal;
}

.policy-list {
  padding-left: 22px;
  list-style-type: disc;
}

.policy-list li::marker {
  font-size: 0.6em;
}

.policy-types-list {
  margin-top: 24px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.policy-type-title {
  padding-left: 22px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}

.policy-link-email {
  text-decoration: underline;
}

.policy-main {
  padding-bottom: 40px;
}

.policy-link-browser {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .policy-body {
    font-size: 16px;
  }
  .policy-container .policy-title {
    font-size: 20px;
  }
  .policy-updated strong {
    font-size: 18px;
  }
  .policy-main {
    padding-bottom: 68px;
  }
}
