.description-section {
  background-color: #f7d7d1;
}

.description-container {
  display: flex;
  flex-direction: column;

  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 1200px) {
  .description-container {
    padding-left: 102px;
    padding-right: 102px;
  }
}

.desc-highlight {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 4px 12px;
  min-width: 64px;
  height: 21px;
  border-radius: 20px;
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  color: #101010;
  font-weight: 400;
  white-space: nowrap;
}

@media only screen and (min-width: 1200px) {
  .desc-highlight {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #101010;
    border-radius: 20px;
    padding: 8px 22px;
    width: 103px;
    height: 39px;
  }
}

.desc-yellow {
  background-color: #ffea5d;
}

.desc-cyan {
  background-color: #4ff7ff;
}

.desc-green {
  background-color: #99ed58;
}

.desc-purple {
  background-color: #efb4ff;
  width: 120px;
  height: 21px;
}

@media only screen and (min-width: 1200px) {
  .desc-purple {
    width: 207px;
    height: 39px;
  }
}

.desc-span-blue {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: #3b82d4;
}

@media only screen and (min-width: 1200px) {
  .desc-span-blue {
    font-size: 32px;
  }
}

.desc-text {
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  color: #101010;
  line-height: 23px;
}

.desc-text-part-one {
  line-height: 17px;
}

@media only screen and (min-width: 1200px) {
  .desc-text {
    font-size: 24px;
    line-height: 30px;
  }

  .desc-text-part-one {
    line-height: 29px;
  }
}

.desc-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: left;
}

.desc-list {
  display: flex;
  flex-direction: column;
}

.desc-part-1 {
  display: flex;
  gap: 29px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .desc-part-1 {
    max-width: 701px;
    margin-bottom: 72px;
  }
}

.desc-part-2 {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .desc-part-2 {
    max-width: 701px;
    margin-top: 72px;
  }

  .desc-wrapper-second-part-text {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .desc-wrapper-img {
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* по желанию */
  }

  .desc-wrapper-img picture {
    transform: rotate(3deg);
  }

  .desc-wrapper-img img {
    width: 284px;
    height: 333px;
    object-fit: cover;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .desc-wrapper-img {
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .desc-wrapper-img picture {
    /* по умолчанию без поворота */
    transform: none;
  }

  .img-japan {
    transform: rotate(3deg);
  }

  .img-paris {
    transform: rotate(-3deg);
  }

  .desc-wrapper-img img {
    width: 284px;
    height: 333px;
    object-fit: cover;
    display: block;
  }
}

.img-japan,
.img-paris,
.img-london {
  display: inline-block;
  animation: bounce 3s infinite ease-in-out;
}

/* Анимация подпрыгивания */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-rotate-japan {
  0%,
  100% {
    transform: rotate(3deg) translateY(0);
  }
  50% {
    transform: rotate(3deg) translateY(-15px);
  }
}

@keyframes bounce-rotate-paris {
  0%,
  100% {
    transform: rotate(-3deg) translateY(0);
  }
  50% {
    transform: rotate(-3deg) translateY(-15px);
  }
}

@media only screen and (max-width: 1199px) {
  .desc-wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desc-wrapper-img img {
    width: 100%;
    max-width: 284px;
    height: auto;
    object-fit: cover;
    display: block;
  }
}
