.faq-section {
  background-color: #f7d7d1;
  padding: 40px 16px;
}

@media screen and (min-width: 1200px) {
  .faq-section {
    padding-top: 68px;
    padding-bottom: 68px;
    padding-right: 178px;
    padding-left: 140px;
  }
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 45px; */
}
@media screen and (min-width: 1280px) {
  .faq-wrapper {
    flex-direction: row;
    gap: 76px;
  }
}

.faq-title-wrapper,
.faq-accordion-wrapper {
  flex: 1;
}

@media (min-width: 1200px) {
  .faq-accordion-wrapper {
    margin-top: 210px;
  }
}

.accordion {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.accordion-header {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #101010;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  min-height: 38px;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #e4e5e6;
  background-color: #fff;
  padding: 14px 16px;
}

/* @media screen and (min-width: 768px) {
  .accordion-header {
    gap: 24px;
  }
  .faq-section {
    padding-bottom: 124px;
  }
} */

.accordion-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  /* position: relative; */
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.faq-icon {
  width: 18px;
  height: 10px;
  fill: #3b82d4;

  /* position: absolute; */
  /* top: 0;
  left: 0; */

  transition: opacity 0.3s ease;
  display: block;
  pointer-events: none;
}
.faq-icon-down {
  opacity: 1;
}
.faq-icon-up {
  opacity: 0;
}
.accordion-item.active .faq-icon-down {
  opacity: 0;
}
.accordion-item.active .faq-icon-up {
  opacity: 1;
}
.accordion-content {
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #101010;
  max-height: 0;
  overflow: hidden;
  background-color: transparent;
  transition: max-height 0, 3s ease, margin-top 0, 3s ease;
}
.accordion-item.active .accordion-content {
  max-height: 500px;
}

@media (min-width: 1200px) {
  .faq-question {
    font-size: 20px;
  }
}

.faq-title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .faq-title {
    font-size: 48px;
    position: relative;
    left: 530px;

    justify-content: center;
  }
}

.faq-question {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #101010;
  background-color: #fff;
  min-height: 38px;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  line-height: 1.56;
}

@media (min-width: 1200px) {
  .faq-question {
    font-size: 24px;
  }
}

.faq-answer-text {
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #101010;
}

@media (min-width: 1200px) {
  .faq-answer-text {
    font-size: 20px;
  }
}

.image-faq {
  display: none;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .image-faq {
    display: block;
    margin-top: 138px;
    width: 323px;
    height: auto;
  }
}

.accordion-item.active {
  background-color: #fff;
}

.faq-answer-text.active {
  background-color: #fff8ee;
}

.faq-answer-box {
  background-color: #fff8ee;
  border-radius: 0 0 12px 12px;
  padding: 12px 20px;
  margin: 0 auto;
  max-width: 90%;
}

.accordion-item.active {
  background-color: transparent;
}

.accordion-item.active .faq-answer-box {
  display: block;
  background-color: #fff8ee;
}

.accordion-item.active .faq-question-box {
  padding: 14px 16px;
  border-radius: 12px;
  display: flex;
}
