.hero-section {
  .section-hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
