.home-section {
  background-color: #3b82d4;
  padding-bottom: 0;
  overflow: hidden;
  padding-top: 80px;
}

@media only screen and (min-width: 1200px) {
  .home-section {
    padding-top: 144px;
  }
}

.home-container {
  position: relative;
  text-align: center;
  padding: 0px 16px;
  background-image: url('../img/home/home-img-mobile-@1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) and (min-resolution: 192dpi) {
  .home-container {
    background-image: url('../img/home/home-img-mobile-@2x.png');
  }
}

@media only screen and (min-width: 1200px) {
  .home-container {
    background-image: url('../img/home/home-img-desktop-@1x.png');
    border-radius: 30px;
    width: 996px;
    height: 550px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .home-container {
    background-image: url('../img/home/home-img-desktop-@2x.png');
  }
}

.home-title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  color: #ffea5d;
  font-size: 45px;
  box-shadow: none;
  display: inline-block;
  width: auto;
  text-align: center;
  -webkit-text-stroke: 15px #2736e6;
  letter-spacing: 4px;
}

@media only screen and (min-width: 1200px) {
  .home-title {
    font-size: 72px;
    padding-bottom: 260px;
    padding-top: 46px;
    -webkit-text-stroke: 18px #2736e6;
    letter-spacing: 8px;
  }
}

.home-desc {
  font-weight: 400;
  font-size: 22px;
  color: var(--yellow);
  white-space: nowrap;
  letter-spacing: 0.00005rem;
  -webkit-text-stroke: 5px #2736e6;
}

@media only screen and (min-width: 1200px) {
  .home-desc {
    font-size: 38px;
    -webkit-text-stroke: 10px #2736e6;
  }
}

.home-play-button {
  border: 3px solid #2d8fcc;
  border-radius: 14px;
  padding: 9px 85px;
  width: 282px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 6px 4px 0 rgba(0, 0, 0, 0.15),
    inset 0 -6px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #99ed58;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 1200px) {
  .home-play-button {
    border-radius: 18px;
    padding: 8px 96px;
    width: 304px;
    height: 54px;
  }
}

.home-play-button:hover {
  background-color: #ffea5d;
}

.home-play-button:active {
  background-color: #3b82d4;
}

.home-img-google-play {
  max-width: 105px;
  max-height: 30px;
}

.home-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  -webkit-text-stroke: 20px #2736e6;
  padding-bottom: 24px;
}

@media only screen and (min-width: 1200px) {
  .home-row {
    flex-direction: column;
    gap: 20px;
  }
}

.home-container {
  height: 444px;
}

@media screen and (min-width: 1200px) {
  .home-container {
    height: 550px;
    margin-bottom: 62px;
  }
}

.home-title-photo {
  width: 288px;
  height: 85px;
  background-image: url('../img/header-text-mob.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 36px;
}

@media screen and (min-width: 1200px) {
  .home-title-photo {
    width: 908px;
    height: 200px;
    background-image: url('../img/header-text-desk.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
  }
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
