.mobile-menu-body {
  border-radius: 0 0 20px 20px;
  padding: 28px 16px;
  width: 276px;
  height: 441px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  background: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobile-menu-list-item a {
  font-weight: 500;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

body.no-scroll {
  overflow: hidden;
  /* height: 100vh; */
}

.header-mob-button {
  -webkit-tap-highlight-color: transparent;
}
